<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Builder - Home</title>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Internal CSS -->
    <style>
      body {
        margin: 0;
      }

      header {
        background-image: url("https://plus.unsplash.com/premium_photo-1661324498792-0fe8977062b7?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-position: center;
        padding: 150px;
        text-align: center;
      }

      header h1 {
        font-size: 36px;
        font-family: "Zilla Slab";
        background-color: black;
        color: white;
        padding: 20px;
        margin: 0 500px;
      }

      header h3 {
        font-size: 30px;
      }

      header button, input[type="submit"] {
        font-size: 18px;
        padding: 15px 30px;
        background-color: black;
        color: azure;
        border-radius: 15px;
        border: none;
      }

      header button:hover {
        background-color: rgb(45, 4, 66);
        cursor: pointer;
      }

      #personal_details {
        margin: 50px 100px;
        border: 1px solid rgba(0, 0, 0, 0.465);
        border-radius: 10px;
        padding: 20px;
      }

      label {
        font-weight: bold;
      }

      input {
        width: 100%;
        margin-bottom: 20px;
      }

      input[type="submit"]{
        width: 10%;
      }

      input[type="submit"]:hover{
        background-color: rgb(45, 4, 66);
        cursor: pointer;
      }

    </style>
  </head>
  <body>
    <!-- Semantic HTML -->
    <header>
      <h1>Build your Resume fast!</h1>
      <h3>Worried about creating a Resume on your own? We're here to help!</h3>
      <a href="#personal_details"><button>Build Now</button></a>
    </header>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
    </section>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
    </section>
    <section id="personal_details">
      <form action="{% url 'resume' %}" method="post">
        {% csrf_token %}
        <!-- Personal Info -->
        <div>
          <label for="firstName">First Name : </label>
          <input
            type="text"
            id="firstName"
            maxlength="25"
            minlength="2"
            required
            name="firstName"
          />
        </div>
        <div>
          <label for="lastName">Last Name : </label>
          <input
            type="text"
            id="lastName"
            maxlength="25"
            minlength="2"
            required
            name="lastName"
          />
        </div>
        <div>
          <label for="userEmail">Email : </label>
          <input
            type="email"
            id="userEmail"
            maxlength="25"
            minlength="2"
            required
            name="userEmail"
          />
        </div>
        <input type="submit"/>
      </form>
      <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
    </section>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolores eligendi? Id repudiandae, eos vero, voluptate porro, labore illum amet corporis nesciunt delectus obcaecati voluptatibus culpa optio eaque vitae!</p>
    </section>
  </body>
</html>
