<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Resume</title>
  </head>
  <body>
    <section id="download-this">
      <h1>asaeldof : {{ firstName }}</h1>
      <h1>{{ lastName }}</h1>
      <h1>{{ userEmail }}</h1>
    </section>
    <button onclick="downloadThis()">Download</button>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
      integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      function downloadThis() {
        var element = document.getElementById("download-this");
        html2pdf(element);
      }
    </script>
  </body>
</html>
