/* Cascading Style Sheets */

/*

selector {
    property : value;
}
    
*/

/* body{
    background-color: pink;
}

ul{
    background-color: cadetblue;
}

#firstListItem{
    background-color: yellow;
} */